
<h2> Create you're own celebrity! Be you're own celebrity! Just do it quickly. </h2>

<form action="/celebrities" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="">

  <label for="imageUrl">ImageUrl</label>
  <input type="text" id="imageUrl" name="" value="">

  <label for="occupation">Occupation</label>
  <input type="text" id="occupation" name="" value="">

  <label for="catchphrase">Catchphrase</label>
  <input type="text" id="catchphrase" name="" value="">


  <button type="submit">CREATE!</button>
</form>
