

<h2 style="text-align: center;"> <%= celebrity.name %> </h2>

<img style="float: right; width: 600px;" src="<%= celebrity.imageUrl %>" alt="Photo of this 'august' celebrity">

<p>----Celebrity Attributes----</p>

<ul>
  <li>Occupation: <%= celebrity.occupation %> </li>
  <li>Catchphrase: <%= celebrity.catchphrase %> </li>
</ul>
